.night-black {
    color: #0D0A0B;
}

.pure-white {
    color: #FFFFFF;
}

.pure-black {
    color: #000000;
}

.tertiary-black {
    color: #454955;
}

.secondary-text {
    color: #00A6ED;
}

.ascent-white {
    color: #FCFCFF;
}

.success-text{
    color: #4CAF50;
}