
.background-color-home {
    background: rgba(13, 10, 11, 0.45);
}

.home-blog-button {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.45), rgba(187, 187, 187, 0.45));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.featured-blog-image {
    background: linear-gradient(
      175.36deg, 
      rgba(0, 0, 0, 0) 3.56%, 
      rgba(0, 0, 0, 0.210857) 32.63%, 
      rgba(0, 0, 0, 0.4) 78.8%
    );
}

.shimmer {
    animation: shimmering 3.1s linear infinite;
    background: rgba(226, 226, 226, 1);
    background: linear-gradient(
      90deg,
      rgba(226, 226, 226, 1) 9%,
      rgba(238, 238, 238, 1) 18%,
      rgba(226, 226, 226, 1) 31%
    );
    background-size: 1300px 100%;
  }

.topic-section-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}

.night-black-button-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}


.loader {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  animation: rotate 1s linear infinite
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #FF5903;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}