---
// Style Sheet
import '../styles/global.css';
import '../styles/fontColors.css';
import '../styles/fonts.css';
// Components
import Footer from '../components/Footer.astro';
import MainHead from './MainHead.astro';
import Navbar from '../components/Navbar';

interface Props {
    title: string;
    description?: string; 
}

const { title, description } = Astro.props as Props;

---

<html lang="en">
    <MainHead {title} {description} />
    <Navbar client:visible />
    
	<body>
		<slot>Default Text</slot>
	</body>

    <Footer />
</html>
